<div class="contents">
    <% @posts.each do |post| %>
      <div class="content_post" >
        <div class="content_left_box">
          <%= image_tag post.image.variant(resize: '500x500'), class: 'post-image' %>
        </div>
        <div class="content_right_box">
          <% if post.text.present? %>
          <div class="content_text"><%= post.text %></div>
          <% end %>
          <div class="name">
            <a href="/users/<%= post.user.id%>">
              <%=  post.user.nickname %>
            </a>
          </div>
          <% if current_user == post.user %>
            <div class="post-delete"><%= link_to 'delete—', post_path(post.id), method: :delete %></div>
          <% end %>
        </div>
      </div>
    <% end %>
</div>