<%= render "share/header"%>

<div class="actives-body">

  <%= render "share/user_info"%>

  <div class="actives-contents">
    <% @actives.each do |active| %>
    <div class="active-box">
      <div class="active-green"></div>
      <div class="active-info">
        <div class="active-date">
          <%= active.created_at.strftime('%Y/%m/%d')%>
        </div>
        <div class="step-info">
          <div class="active-step">
            <%= "#{active.step}step" %>
          </div>
          <%   if @user.id == current_user.id %>
          <div class="step-delete">
            <%= link_to 'delete—', active_path(active.id), method: :delete %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
