<%= render "share/header"%>

<div class="follow-body">
  <div class="follow-box">
    <div class="follow-text">FOLLOWING</div>
    <div class="follow-column">
        <% @users.each do |user| %>
          <div class="follow-name">
          <%= link_to user_path(user) do %>
            <%= user.nickname %>
          <% end %>
          </div>
          
          <% if user != current_user %>
          <div class="follow-btn-box">
            <% if user.is_followed_by?(current_user) %>
              <%=link_to user_relationships_path(user), method: :delete do %>
                <button type="button" class="follow-btn">フォロー解除</button>
              <% end %>
            <% else %>
            </div>
                      <div class="follow-btn-box">

              <%=link_to user_relationships_path(user), method: :post do %>
                <button type="button" class="follow-btn">フォロー</button>
            <% end %>
          <% end %>
          </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>