<%= render "share/header"%>
<div class="contents row">
  <% @posts.each do |post| %>
    <div class="content_post" >
       <%= image_tag post.image.variant(resize: '500x500'), class: 'post-image' %>
      <p><%= post.text %></p>
      <span class="name">
        <a href="/users/<%= post.user.id%>">
          <%= post.user.nickname %>
        </a>
      </span>
    </div>
  <% end %>
</div>